/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 10px !important;
  margin: 0 auto !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 16%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  border-right: 1px solid #000;
}

.header::-webkit-scrollbar {
  width: 5px;
}

.header::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.header__div-main {
  padding: 25px;
}

.header__link-vue {
  font-weight: 700;
  padding-top: 8px;
  font-size: 14px;
  letter-spacing: -0.5px;
  display: inline-block;
  color: #475569;
  text-decoration: none;
  text-transform: uppercase;
}

.header__hr {
  position: relative;
  top: 25px;
  color: #475569;
}

.header__text {
  font-weight: 700;
  padding-top: 8px;
  font-size: 12px;
  letter-spacing: -0.9px;
  padding-top: 30px;
  display: inline-block;
  color: #6a788a;
  text-transform: uppercase;
}

.header__item {
  list-style-type: none;
  margin-bottom: 25px;
}

.header__link {
  font-size: 12px;
  font-weight: 700;
  color: #334155;
  text-transform: uppercase;
  text-decoration: none;
}
.header__link:hover {
  color: #059669;
}

.header__icon {
  font-size: 16px;
  margin-right: 10px;
  color: #dedede;
}

.header__text1 {
  font-weight: 700;
  padding-top: 8px;
  font-size: 12px;
  letter-spacing: -0.9px;
  display: inline-block;
  color: #6a788a;
  text-transform: uppercase;
}

.header__link1 {
  text-transform: capitalize;
}

.active {
  color: #059669;
}

.main {
  width: 100%;
  margin-left: 16%;
}

.content {
  background-color: #059669;
  width: 100%;
  height: auto;
}

.content__content {
  padding: 20px 55px;
  padding-bottom: 120px;
}

.content__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.7px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.content__input-div {
  position: relative;
}

.content__input {
  width: 220px;
  padding: 10px;
  padding-left: 30px !important;
  border-radius: 6px;
  outline: none;
  color: #334155;
  border: 1px solid transparent;
  margin-right: 10px;
}

.content__icon {
  position: absolute;
  left: 8px;
  color: #dedede;
}

.content__img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.content__boxes {
  padding-top: 60px !important;
}

.content__item {
  list-style: none;
  width: 23%;
  height: auto;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.content__item:hover {
  background-color: rgb(224, 224, 224);
}

.content__inner-iconDiv {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #ef444a;
  border-radius: 50%;
}

.content__inner-iconDiv1 {
  background-color: #f97316 !important;
}

.content__span-inner2 {
  color: #ef444a !important;
  margin-right: 10px !important;
}

.content__inner-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  color: #fff;
}

.content__icon-inner1 {
  color: #ef444a !important;
}

.content__inner-p {
  font-weight: 700;
  font-size: 12px;
  color: #6a788a;
}

.content__span {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.content__icon-inner {
  color: #059669;
  margin-right: 5px;
}

.content__span-inner {
  font-size: 13px;
  color: #6a788a;
}

.content__span-inner1 {
  color: #059669;
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
}

.content__inner-icon3 {
  color: #f87316 !important;
}

.content__inner-icon4 {
  background-color: #059669 !important;
}

.content__span-inner3 {
  display: inline-block;
  margin-right: 10px;
  color: #f87316;
}

.content__inner-iconDiv5 {
  background-color: #ec4899;
}

.dashboard {
  position: relative;
  left: 40px;
  margin-top: -4.5rem;
}

.dashboard__inner {
  padding-left: 16px;
}

.dashboard__line {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.dashboard__bar {
  flex-basis: 33.333%;
  max-width: 33.333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard__border {
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  background-color: rgb(51, 65, 85);
  position: relative;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bar-border {
  position: relative;
  left: -80px;
  background-color: #fff;
}

.dashboard__line-header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dashboard__entry {
  text-transform: uppercase;
  color: rgb(241, 245, 249);
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.bar-entry {
  color: rgb(148, 163, 184);
}

.dashboard__line-title {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  margin: 0;
  text-transform: none;
}

.bar-title {
  color: rgb(51, 65, 85);
}

.dashboard__canvas {
  padding: 1rem;
}

.dashboard__page-main {
  padding-left: 16px;
}

.dashboard__page {
  flex-basis: 58.333%;
  max-width: 58.333%;
  border-radius: 0.25rem;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dashboard__page-titleDiv {
  padding: 20px 30px;
}

.dashboard__page-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.dashboard__page-btn {
  background-color: #6366f1;
  border: 1px solid transparent;
  color: #fff;
  text-transform: uppercase;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
}

.dashboard__page-nameback {
  background-color: rgb(241, 241, 241) !important;
}

.dashboard__page-nameDiv {
  padding: 10px 20px;
}

.dashboard__page-name {
  font-size: 12px;
  font-weight: 500;
  color: #6a788a;
  list-style: none;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}

.table {
  background-color: #fff !important;
}

.thead {
  border-top: 1px solid rgb(232, 232, 232) !important;
  background-color: rgb(244, 244, 244) !important;
}

.tr {
  border-color: transparent !important;
  border-style: none !important;
}

.th1 {
  font-size: 12px;
  color: #6a788a;
  padding-left: 20px !important;
}

.th2 {
  font-size: 12px;
  color: #6a788a;
  padding-left: 60px !important;
}

.dashboard__page-icon {
  color: #059669;
  margin-right: 10px !important;
}

.dashboard__page-icon1 {
  margin-right: 10px !important;
  color: #F97316 !important;
}

.dashboard__page-icon3 {
  margin-right: 10px !important;
  color: #EF444A !important;
}

.th3 {
  color: #000;
  padding-bottom: 20px !important;
}

.th4 {
  color: #475569;
  padding-bottom: 20px !important;
}

.dashboard__page-col {
  flex-basis: 33.333%;
  max-width: 33.333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard__page1 {
  border-radius: 0.25rem;
  height: auto;
  padding-bottom: 2px !important;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  left: -80px;
}

.backround__red {
  position: relative;
  left: 10px;
  width: 100%;
  height: 8px;
  background-color: rgb(234, 156, 156);
  border-radius: 0.25rem;
}

.backround__red-span {
  position: absolute;
  width: 38%;
  height: 8px;
  background-color: rgb(255, 0, 0);
  border-radius: 0.25rem;
}

.backround__red1 {
  position: relative;
  left: 10px;
  width: 100%;
  height: 8px;
  margin-right: 16px !important;
  background-color: rgb(156, 234, 163);
  border-radius: 0.25rem;
}

.backround__red-span1 {
  position: absolute;
  width: 48%;
  height: 8px;
  background-color: rgb(16, 185, 129);
  border-radius: 0.25rem;
}

.backround__red3 {
  position: relative;
  left: 10px;
  width: 100%;
  height: 8px;
  margin-right: 16px !important;
  background-color: rgb(233, 213, 255);
  border-radius: 0.25rem;
}

.backround__red-span3 {
  position: absolute;
  width: 58%;
  height: 8px;
  background-color: rgb(168, 85, 247);
  border-radius: 0.25rem;
}

.backround__red4 {
  position: relative;
  left: 10px;
  width: 100%;
  height: 8px;
  margin-right: 16px !important;
  background-color: rgb(186, 230, 253);
  border-radius: 0.25rem;
}

.backround__red-span4 {
  position: absolute;
  width: 53%;
  height: 8px;
  background-color: rgb(14, 165, 233);
  border-radius: 0.25rem;
}

.backround__red5 {
  position: relative;
  left: 10px;
  width: 100%;
  height: 8px;
  margin-right: 16px !important;
  background-color: rgb(254, 215, 170);
  border-radius: 0.25rem;
}

.backround__red-span5 {
  position: absolute;
  width: 25%;
  height: 8px;
  background-color: rgb(16, 185, 129);
  border-radius: 0.25rem;
}

.th5 {
  padding-left: 0px !important;
}

.th6 {
  padding-left: 0px !important;
}

.dashboar__hr {
  flex-basis: 91.667%;
  max-width: 91.667%;
  margin-left: 14px !important;
  color: #6a788a !important;
}

.dashboard__list-copy {
  padding-left: 350px !important;
}

.dashboard__item-copy {
  list-style: none;
  margin-right: 25px !important;
}

.dashboard__link-copy {
  font-weight: 500;
  color: #334155;
  text-decoration: none;
}

.dashborad__copy-p {
  font-weight: 500;
  color: #334155;
  margin-left: -80px !important;
}

.dashboard {
  display: none;
}

#settings {
  position: relative;
  left: 40px;
  margin-top: -5.5rem;
}

.settings__main {
  padding-left: 16px;
}

.settings__account1 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.settings__account {
  position: relative;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  height: auto !important;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.settings__title-div {
  padding: 20px;
}

.settings__title {
  margin: 0 !important;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.settings__btn {
  border: 1px solid transparent !important;
  outline: none !important;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 3px 8px;
  color: #fff;
  font-weight: 700;
  background-color: #10b981;
}

.settings__form-div {
  background-color: #F1F5F9;
  padding-bottom: 30px !important;
  width: 100% !important;
}

.settings__form-p {
  font-weight: 700;
  margin: 0 !important;
  text-transform: uppercase;
  letter-spacing: -0.4px !important;
  color: #6a788a;
  padding-left: 50px !important;
  padding-top: 10px !important;
}

.settings__form {
  padding-top: 16px !important;
  padding-left: 70px !important;
  padding-right: 20px !important;
}

.form-label {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.4px;
  font-size: 12px;
  margin-bottom: 5px !important;
  color: #334155;
}

.settings__hr {
  flex-basis: 83.333%;
  max-width: 83.333%;
  color: #6a788a;
  margin-left: 50px !important;
  margin-top: 30px !important;
}

.form-control {
  color: rgb(71, 85, 105);
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
}

.settings__input {
  padding-bottom: 50px !important;
}

.settings__form-p1 {
  margin-top: -10px !important;
  padding-left: 0px !important;
  margin-left: -20px !important;
}

.settings__profile {
  position: relative;
  flex-basis: 33.333%;
  max-width: 33.333%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.settings__profile-border {
  position: relative;
  left: -80px !important;
  top: 50px;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  padding-bottom: 30px !important;
  height: auto !important;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.settings__profile-img-div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  top: -50px;
}

.settings__profile-img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.settings__profile-list {
  margin-top: -30px !important;
}

.settings__profile-item {
  color: #6a788a;
  list-style: none;
}

.settings__profile-span {
  color: #334155;
  font-weight: 700;
  font-size: 18px;
}

.settings__profile-name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 60px !important;
  margin-bottom: 20px !important;
  color: #334155;
  text-transform: capitalize;
}

.settings__profile-los {
  font-weight: 700;
  margin: 0;
  color: #6a788a;
}

.settings__profile-location-icon {
  font-size: 18px;
  color: #6a788a;
  margin-right: 10px;
}

.settings__profile-span {
  font-weight: 400;
  font-size: 16px;
}

.settings__profile-hr {
  margin-left: 20px;
  flex-basis: 80.333%;
  max-width: 80.333%;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #6a788a;
}

.settings__span-more1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings__span-more {
  text-align: center;
  width: 50%;
}

.settings__profile-link {
  display: block;
  color: #10b981;
  text-align: center;
  text-decoration: none;
}

.settings {
  display: none;
}

.card-table {
  position: relative;
  z-index: 100;
}

.card-table__wrapper {
  margin-top: 1rem;
}

.card-table__inner {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.card-table__white {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.card-table__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
}

.card-table__th-img-box img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
}
.card-table__th-img-box span {
  color: rgb(71, 85, 105);
  font-weight: 700;
  margin-left: 0.75rem;
}

.card-table table {
  width: 100%;
  overflow-x: auto;
}
.card-table td {
  vertical-align: middle;
}

.card-table__status i {
  margin-right: 0.5rem;
}

.pending {
  color: rgb(249, 115, 22);
}

.card-table__table-list {
  list-style: none;
}

.card-table__table-item:not(:first-child) {
  margin-left: -1rem;
}
.card-table__table-item img {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid rgb(248, 250, 252);
  border-radius: 50%;
}

.table-red {
  width: 60%;
}

.completed {
  color: rgb(16, 185, 129) !important;
}

.table-green {
  width: 100%;
  border-radius: 0.5rem;
}

.delayed {
  color: rgb(239, 68, 68);
}

.table-delayed {
  width: 73%;
}

.schedule {
  color: rgb(20, 184, 166);
}

.social-light-salad {
  background-color: rgb(153, 246, 228) !important;
}

.social-dark-salad {
  background-color: rgb(20, 184, 166) !important;
}

.table-salad {
  width: 90%;
}

.table__real-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(100, 116, 139);
  padding: 0.25em 0.75rem;
}

.card-table-main-green {
  background-color: rgb(6, 78, 59);
}

.card-table-main-green th {
  color: rgb(110, 231, 183);
}
.card-table-main-green thead th {
  border: 1px solid rgb(4, 120, 87);
  background-color: rgb(6, 95, 70) !important;
  border-left: none;
  border-right: none;
}

.table-color-white {
  color: #fff !important;
}

.dashboard__table-box th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  color: rgb(100, 116, 139);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
.dashboard__table-box td {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: rgb(51, 65, 85);
  font-size: 0.75rem;
  line-height: 1rem;
}
.dashboard__table-box thead th {
  border: 1px solid rgb(241, 245, 249);
  border-left: none;
  border-right: none;
  background-color: rgb(248, 250, 252);
}
.dashboard__table-box tbody th {
  color: rgb(51, 65, 85);
  text-transform: none;
}
.dashboard__table-box i {
  margin-right: 1rem;
}

.dashboard__social-percent {
  margin-right: 0.5rem;
}

.dashboard__line-up {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(254, 202, 202);
}

.dashboard__line-inner {
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: rgb(239, 68, 68);
  width: 60%;
}

.social-light-green {
  background-color: rgb(167, 243, 208);
}

.social-dark-green {
  width: 70%;
  background-color: rgb(16, 185, 129);
}

.social-light-purple {
  background-color: rgb(233, 213, 255);
}

.social-dark-purple {
  width: 80%;
  background-color: rgb(168, 85, 247);
}

.social-light-blue {
  background-color: rgb(186, 230, 253);
}

.social-dark-blue {
  width: 75%;
  background-color: rgb(14, 165, 233);
}

.social-orange {
  background-color: rgb(254, 215, 170);
}

.social-twitter-green {
  background-color: rgb(16, 185, 129) !important;
}

.dashboard__table-box {
  background-color: rgb(16, 185, 129) !important;
}

.dashboard__table-box {
  background-color: rgb(6, 95, 70) !important;
}

.table {
  background-color: #fff !important;
}

.table-borderless {
  background-color: rgb(6, 95, 70) !important;
}

.card-table {
  display: none;
}/*# sourceMappingURL=main.css.map */