.card-table {
  position: relative;
  z-index: 100;
  margin-top: -5.5rem;
}

.card-table__wrapper {
  margin-top: 1rem;
}

.card-table__inner {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.card-table__white {
  background-color: transparent;
  padding: 0 40px;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.card-table__title {
  position: relative;
  top: 10px;
  background-color: #fff;
  padding: 10px 50px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
}

.card-table__th-img-box {
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    background-color: #fff;
    object-fit: cover;
    border: 1px solid #ccc;
  }

  span {
    color: rgba(71, 85, 105, 1);
    font-weight: 700;
    margin-left: 0.75rem;
  }
}

.card-table {
  table {
    width: 100%;
    overflow-x: auto;
  }

  td {
    vertical-align: middle;
  }
}

.card-table__status {
  i {
    margin-right: 0.5rem;
  }
}

.pending {
  color: rgba(249, 115, 22, 1);
}

.card-table__table-list {
  list-style: none;
}

.card-table__table-item {
  &:not(:first-child) {
    margin-left: -1rem;
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid rgba(248, 250, 252, 1);
    border-radius: 50%;
  }
}

.table-red {
  width: 60%;
}

.completed {
  color: rgba(16, 185, 129, 1) !important;
}

.table-green {
  width: 100%;
  border-radius: 0.5rem;
}

.delayed {
  color: rgba(239, 68, 68, 1);
}

.table-delayed {
  width: 73%;
}

.schedule {
  color: rgba(20, 184, 166, 1);
}

.social-light-salad {
  background-color: rgba(153, 246, 228, 1) !important;
}

.social-dark-salad {
  background-color: rgba(20, 184, 166, 1) !important;
}

.table-salad {
  width: 90%;
}

.table__real-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(100, 116, 139, 1);
  padding: 0.25em 0.75rem;
}

.card-table-main-green {
  background-color: rgba(6, 78, 59, 1);
}

.card-table-main-green {
  th {
    color: rgba(110, 231, 183, 1);
  }

  thead {
    th {
      border: 1px solid rgba(4, 120, 87, 1);
      background-color: rgba(6, 95, 70, 1) !important;
      border-left: none;
      border-right: none;
    }
  }
}

.table-color-white {
  color: #fff !important;
}

.dashboard__table-box {
  th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
    color: rgba(100, 116, 139, 1);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
  }

  td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: rgba(51, 65, 85, 1);
    font-size: 0.75rem;
    line-height: 1rem;
  }

  thead {
    th {
      border: 1px solid rgba(241, 245, 249, 1);
      border-left: none;
      border-right: none;
      background-color: rgba(248, 250, 252, 1);
    }
  }

  tbody {
    th {
      color: rgba(51, 65, 85, 1);
      text-transform: none;
    }
  }

  i {
    margin-right: 1rem;
  }
}

.dashboard__social-percent {
  margin-right: 0.5rem;
}

.dashboard__line-up {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(254, 202, 202, 1);
}

.dashboard__line-inner {
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: rgba(239, 68, 68, 1);
  width: 60%;
}

.social-light-green {
  background-color: rgba(167, 243, 208, 1);
}

.social-dark-green {
  width: 70%;
  background-color: rgba(16, 185, 129, 1);
}

.social-light-purple {
  background-color: rgba(233, 213, 255, 1);
}

.social-dark-purple {
  width: 80%;
  background-color: rgba(168, 85, 247, 1);
}

.social-light-blue {
  background-color: rgba(186, 230, 253, 1);
}

.social-dark-blue {
  width: 75%;
  background-color: rgba(14, 165, 233, 1);
}

.social-orange {
  background-color: rgba(254, 215, 170, 1);
}

.social-twitter-green {
  background-color: rgba(16, 185, 129, 1) !important;
}


.dashboard__table-box {
  background-color: rgba(16, 185, 129, 1) !important;
}

.dashboard__table-box {
  background-color: rgba(6, 95, 70, 1) !important;
}

.table {
  background-color: #fff !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-borderless {
  background-color: rgba(6, 95, 70, 1) !important;
}

.card-table {
  display: none;
}

.card-table-main-green {
  background-color: transparent !important;
}

.card-table__title1 {
  position: relative;
  top: 10px;
  padding: 10px 50px;
  background-color: rgba(6, 95, 70, 1) !important;
}

tr {
  border-color: transparent;
  border-style: transparent !important;
  border-width: 0;
}

.card-table__th-img-box {
  padding-top: 16px !important;
}

.card__project {
  color: rgba(16, 185, 129, 1) !important;
}

.posionreal {
  padding-left: 8%;
}
